####################################
# NODE / NX / FRONTEND (CRÍTICO)
####################################
node_modules/
dist/
tmp/
.cache/
.nx/

####################################
# NX / FRAMEWORKS
####################################
.vite/
.next/
.angular/
out/

####################################
# ENV
####################################
.env
.env.*
.secrets

####################################
# LOGS
####################################
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# IDE
####################################
.vscode/
.idea/
*.swp
*.swo

####################################
# TEMP
####################################
temp/
tmp/

####################################
# DOCKER
####################################
docker-data/

####################################
# TERRAFORM
####################################
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

####################################
# ARCHIVOS GRANDES
####################################
*.zip
*.tar.gz

####################################
# VITE
####################################
vite.config.*.timestamp*
