# DOCKER HUB IMAGES FOR AWS DEPLOYMENT
# Usuario: keylet30
# Generated: 2026-01-22 22:33:59

AUTH_IMAGE=keylet30/hduce-auth:production
USER_IMAGE=keylet30/hduce-user:production
APPOINTMENT_IMAGE=keylet30/hduce-appointment:production
NOTIFICATION_IMAGE=keylet30/hduce-notification:production
MQTT_IMAGE=keylet30/hduce-mqtt:production
METRICS_IMAGE=keylet30/hduce-metrics:production

# AWS NETWORK CONFIG
DATABASE_HOST=172.31.27.77
CORE_SERVICES_HOST=172.31.75.145
BASTION_HOST=34.236.109.17

# DEPLOYMENT STATUS
IMAGES_UPLOADED=0/5
READY_FOR_DEPLOYMENT=NO
