--
-- PostgreSQL database dump
--

\restrict 0h6ZnAxt4HKish2Fqdao4Bk5m3bkfxr2FmZBY7dGXGoy7dFK6c3dOXzaWtJXs8N

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(255),
    email character varying(255) NOT NULL,
    age integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    user_id integer,
    username character varying(100),
    full_name character varying(255),
    role character varying(50) DEFAULT 'patient'::character varying,
    is_active boolean DEFAULT true
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.users VALUES (1, 'testuser', 'testuser@example.com', 30, '2026-01-19 19:35:00.986891', '2026-01-19 22:21:23.310382', NULL, NULL, NULL, 'patient', true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_user_db_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_db_email ON public.users USING btree (email);


--
-- Name: idx_user_db_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_db_user_id ON public.users USING btree (user_id);


--
-- Name: idx_user_db_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_db_username ON public.users USING btree (username);


--
-- PostgreSQL database dump complete
--

\unrestrict 0h6ZnAxt4HKish2Fqdao4Bk5m3bkfxr2FmZBY7dGXGoy7dFK6c3dOXzaWtJXs8N

